<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard: Dein Event</h1>
    </div>
  </header>
  
  <main>
    <div *ngIf="!eventExists" class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      Es sieht so aus, als wäre noch kein Event angelegt. Nutze den Button und lege ein neues Event an!
      <br>
      <br>
      <a [routerLink]="['createevent']" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Neues Event anlegen</a>

    </div>
  </main>


