<div class="shadow grid sm:grid-cols-1 md:grid-cols-2 md:divide-x-[3px] ">
    <div>
      <div class="pt-3 ml-4 text-xl text-primary"><b>Wartend</b></div>
      <div *ngFor="let order of dborders ; let o = index" [attr.data-index]="o">
        <div *ngIf="inQuery(order)">
          <div class="m-2 p-2 rounded-lg place-self-stretch bg-gray-300	">
            <div class="grid grid-cols-2 content-center mb-2">
              <div class="text-xl">
                <b>Bestellung {{order.orderId}}</b>
              </div>
              <div class="text-sm text-right content-center">
                <div class="rounded-full bg-lime-600  text-white content px-7 py-1 inline content-center"
                  [ngStyle]="{'background-color': oStatus(o)? '#65a30d' : 'black'}">
                  {{getGermanText(order.status)}}
                </div>
              </div>
            </div>
            <div class="grid max-[370px]:grid-rows-2 min-[371px]:grid-cols-2 content-center mb-2">
              <div>
                <div *ngFor="let food of order.positions; let f = index" [attr.data-index]="f">
                  <div *ngIf="isFood(food.category!)" class="row-auto my-2">
                    <div class="rounded-full text-white bg-primary px-2" style="display: inline-block;">
                      {{food.amount}}
                    </div>
                    <div class="inline">
                      {{food.name}}
                    </div>
                  </div>
  
                </div>
                <hr style="border-top: 2px solid #000000;">
                <div *ngFor="let drink of order.positions; let d = index" [attr.data-index]="d">
                  <div *ngIf="isDrink(drink.category!)" class="row-auto my-2">
                    <div class="rounded-full text-white bg-primary px-2" style="display: inline-block;">
                      {{drink.amount}}
                    </div>
                    <div class="inline">
                      {{drink.name}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-col items-end justify-center">
  
                <button (click)="edit(order)"
                  class="  rounded-lg bg-lime-600  text-white py-8 px-10  text-center inline-block content-center">
                  Starten
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="pt-3 flex justify-between ml-4 text-xl text-primary"><b>In Bearbeitung</b>
        <button (click)="logout()" class="mr-3 flex-initial rounded-md bg-primary py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-primary_hover">Logout</button>
      </div>
      <div *ngFor="let order of dborders; let o = index" [attr.data-index]="o">
        <div *ngIf="inProgress(order)">
          <div class=" m-2 p-2 rounded-lg place-self-stretch bg-gray-300	">
            <div class="grid grid-cols-2 content-center mb-2">
              <div class="text-xl">
                <b>Bestellung {{order.orderId}}</b>
              </div>
              <div class="text-sm text-right content-center">
                <div class="rounded-full bg-lime-600  text-white content px-7 py-1 inline content-center"
                  [ngStyle]="{'background-color': oStatus(o)? '#65a30d' : 'black'}">
                  {{getGermanText(order.status)}}
                </div>
              </div>
            </div>
            <div class="grid max-[370px]:grid-rows-2 min-[371px]:grid-cols-2 content-center mb-2">
              <div>
                <div *ngFor="let food of order.positions; let f = index" [attr.data-index]="f">
                  <div *ngIf="isFood(food.category!)" class="row-auto my-2">
  
                    <div *ngIf="positionStatusWaiting(food)">
                      <button (click)="setReady(food)">
                        <div class="rounded-full text-white  px-2" style="display: inline-block; background-color:#000000">
                          {{food.amount}}
                        </div>
                        <div class="inline">
                          {{food.name}}
                        </div>
                      </button>
                    </div>
                    <div *ngIf="positionStatusReady(food)">
                      <div class="rounded-full text-white  px-2" style="display: inline-block; background-color:#65a30d">
                        {{food.amount}}
                      </div>
                      <div class="inline">
                        {{food.name}}
                      </div>
                    </div>
                    <div *ngIf="positionStatusDelivered(food)">
                      <div class="rounded-full text-white  px-2" style="display: inline-block; background-color:#0020af">
                        {{food.amount}}
                      </div>
                      <div class="inline">
                        {{food.name}}
                      </div>
                    </div>
                  </div>
                </div>
                <hr style="border-top: 2px solid #000000;">
                <div *ngFor="let drink of order.positions; let d = index" [attr.data-index]="d">
                  <div *ngIf="isDrink(drink.category!)" class="row-auto my-2">
  
                    <div *ngIf="positionStatusWaiting(drink)">
                      <button (click)="setReady(drink)">
                        <div class="rounded-full text-white  px-2" style="display: inline-block; background-color:#000000">
                          {{drink.amount}}
                        </div>
                        <div class="inline">
                          {{drink.name}}
                        </div>
                      </button>
                    </div>
                    <div *ngIf="positionStatusReady(drink)">
                      <div class="rounded-full text-white  px-2" style="display: inline-block; background-color:#65a30d">
                        {{drink.amount}}
                      </div>
                      <div class="inline">
                        {{drink.name}}
                      </div>
                    </div>
                    <div *ngIf="positionStatusDelivered(drink)">
                      <div class="rounded-full text-white  px-2" style="display: inline-block; background-color:#0020af">
                        {{drink.amount}}
                      </div>
                      <div class="inline">
                        {{drink.name}}
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="order.notes">

                    <hr style="border-top: 2px solid #000000;">
                      <div><b>Zu Beachten:</b></div>
                      <div>{{order.notes}}</div>
                    </div>
              </div>
              <!--<div class="flex flex-col items-end justify-center" *ngIf="isReleasable(order)">
                <button (click)="complete(order)"
                  class=" absolute rounded-lg bg-lime-600  text-white py-8 px-10  text-center inline-block content-center">
                  Fertig
                </button>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>