<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-primary">Mitarbeiter Übersicht</h1>
    </div>
</header>

<main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">

        <!-- General Event Information. Must be filled out, before next step can be completed. -->
        <div *ngIf="!editStaffUUID" class="mt-10 sm:mt-0" id="general-staff-information">
            <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                    <div class="px-4 sm:px-0">
                        <h3 class="text-base font-semibold leading-6 text-primary">Mitarbeiter hinzufügen</h3>
                        <p class="mt-1 text-sm text-secondary">Hier können neue Mitarbeiter erstellt werden</p>
                    </div>
                </div>

                <div class="mt-5 md:col-span-2 md:mt-0">
                    <form>
                        <div class="overflow-hidden shadow sm:rounded-md">
                            <form (submit)="addStaff()" [formGroup]="createStaffFormGroup">
                                <div class="bg-white px-4 py-5 sm:p-6">
                                    <div class="grid grid-cols-6 gap-6">

                                        <div class="col-span-6 sm:col-span-4">
                                            <label class="block text-sm font-medium leading-6 text-primary"
                                                   for="event-name">Name</label>
                                            <input class="mt-2 block w-full rounded-md border-0 py-1.5 text-secondary shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-placeholder focus:ring-2 focus:ring-inset focus:ring-primary_border sm:text-sm sm:leading-6" formControlName="name" id="event-name" name="event-name"
                                                   type="text">
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <label class="block text-sm font-medium leading-6 text-primary"
                                                   for="event-loaction">Rolle</label>
                                            <select class="mt-2 block w-full rounded-md border-0 py-1.5 text-secondary shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-placeholder focus:ring-2 focus:ring-inset focus:ring-primary_border sm:text-sm sm:leading-6" formControlName="role" id="event-loaction"
                                                    name="event-loaction">
                                                <option>Waiter</option>
                                                <option>Kitchen</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                                    <button [disabled]="!createStaffFormGroup.valid" class="inline-flex justify-center rounded-md bg-primary py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-primary_hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                                            type="submit">
                                        Hinzufügen
                                    </button>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div *ngIf="editStaffUUID" class="mt-10 sm:mt-0" id="general-staff-edit-information">
            <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                    <div class="px-4 sm:px-0">
                        <h3 class="text-base font-semibold leading-6 text-primary">Mitarbeiter bearbeiten</h3>
                        <p class="mt-1 text-sm text-secondary">Bitte trage die neuen Werte ein</p>
                    </div>
                </div>

                <div class="mt-5 md:col-span-2 md:mt-0">
                    <form>
                        <div class="overflow-hidden shadow sm:rounded-md">
                            <form (submit)="editStaff()" [formGroup]="editStaffFormGroup">
                                <div class="bg-white px-4 py-5 sm:p-6">
                                    <div class="grid grid-cols-6 gap-6">

                                        <div class="col-span-6 sm:col-span-4">
                                            <label class="block text-sm font-medium leading-6 text-primary"
                                                   for="staff-name-edit">Name</label>
                                            <input class="mt-2 block w-full rounded-md border-0 py-1.5 text-primary shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-placeholder focus:ring-2 focus:ring-inset focus:bg-primary_border sm:text-sm sm:leading-6" formControlName="name" id="staff-name-edit"
                                                   type="text">
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <label class="block text-sm font-medium leading-6 text-primary"
                                                   for="staff-role-edit">Rolle</label>
                                            <select class="mt-2 block w-full rounded-md border-0 py-1.5 text-primary shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-placeholder focus:ring-2 focus:ring-inset focus:bg-primary_border sm:text-sm sm:leading-6" formControlName="role"
                                                    id="staff-role-edit">
                                                <option>Waiter</option>
                                                <option>Kitchen</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                                    <button [disabled]="!editStaffFormGroup.valid" class="inline-flex justify-center rounded-md bg-primary py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-primary_hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                                            type="submit">
                                        Speichern
                                    </button>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="mx-auto max-w-7xl py-6">

            <!-- General Event Information. Must be filled out, before next step can be completed. -->
            <div class="mt-10 sm:mt-0" id="general-staff-list">
                <div class="md:grid md:grid-cols-3 md:gap-6">
                    <div class="md:col-span-1">
                        <div class="px-4 sm:px-0">
                            <h3 class="text-base font-semibold leading-6 text-primary">Mitarbeiter</h3>
                            <p class="mt-1 text-sm text-secondary">Hier können neue Mitarbeiter bearbeitet / gelöscht
                                werden</p>
                        </div>
                    </div>

                    <div class="mt-5 md:col-span-2 md:mt-0">
                        <div class="overflow-hidden shadow sm:rounded-md">
                            <table class="table-auto w-full text-left m-5 text-primary">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Rolle</th>
                                    <th>Code</th>
                                    <th>Aktionen</th>
                                </tr>
                                </thead>
                                <tbody class="text-secondary">
                                <tr *ngFor="let staff of staffList">
                                    <td>{{staff.id}}</td>
                                    <td>{{staff.name}}</td>
                                    <td>{{staffRoleCapitalized(staff)}}</td>
                                    <td>{{staff.code}}</td>
                                    <td>
                                        <div class="flex gap-3 m-0">
                                            <button (click)="editStaffSetup(staff)"
                                                    class="inline-flex justify-center rounded-md bg-primary py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-primary_hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
                                                Bearbeiten
                                            </button>
                                            <button (click)="deleteStaff(staff.uuid)"
                                                    class="inline-flex justify-center rounded-md bg-primary py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-primary_hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
                                                Löschen
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <a [routerLink]="['/organizer']" class="font-medium text-primary hover:text-primary_hover"> &#8592; zurück zum
            Dashboard</a>

    </div>
</main>
