<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-primary">Produkte</h1>
    </div>
</header>

<main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">

        <!-- General Event Information. Must be filled out, before next step can be completed. -->
        <div class="mt-10 sm:mt-0" id="general-staff-information">
            <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                    <div class="px-4 sm:px-0">
                        <h3 class="text-base font-semibold leading-6 text-primary">Produkte hinzufügen</h3>
                        <p class="mt-1 text-sm text-secondary">Hier können neue Produkte erstellt werden</p>
                    </div>
                </div>

                <div class="mt-5 md:col-span-2 md:mt-0">
                    <form>
                        <div class="overflow-hidden shadow sm:rounded-md">
                            <form (submit)="addProduct()" [formGroup]="addProductFormGroup">
                                <div class="bg-white px-4 py-5 sm:p-6">
                                    <div class="grid grid-cols-6 gap-6">

                                        <div class="col-span-6 sm:col-span-4">
                                            <label class="block text-sm font-medium leading-6 text-primary"
                                                   for="product-name">Name</label>
                                            <input class="mt-2 block w-full rounded-md border-0 py-1.5 text-secondary shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-placeholder focus:ring-2 focus:ring-inset focus:ring-primary_border sm:text-sm sm:leading-6"
                                                   formControlName="name" id="product-name"
                                                   name="product-name"
                                                   type="text">
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <label class="block text-sm font-medium leading-6 text-primary"
                                                   for="product-price">Preis in
                                                €</label>
                                            <input class="mt-2 block w-full rounded-md border-0 py-1.5 text-secondary shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-placeholder focus:ring-2 focus:ring-inset focus:ring-primary_border sm:text-sm sm:leading-6"
                                                   formControlName="price" id="product-price"
                                                   name="product-price"
                                                   type="number">
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <label class="block text-sm font-medium leading-6 text-primary"
                                                   for="product-category">Kategorie</label>
                                            <select class="mt-2 block w-full rounded-md border-0 py-1.5 text-secondary shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-placeholder focus:ring-2 focus:ring-inset focus:ring-primary_border sm:text-sm sm:leading-6"
                                                    formControlName="category"
                                                    id="product-category"
                                                    name="product-category">
                                                <option *ngFor="let category of productCategories"
                                                        [value]="category.uuid">{{category.name}}</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                                    <button [disabled]="!addProductFormGroup.valid"
                                            class="inline-flex justify-center rounded-md bg-primary py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-primary_hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                                            type="submit">
                                        Hinzufügen
                                    </button>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="mx-auto max-w-7xl py-6">

            <!-- General Event Information. Must be filled out, before next step can be completed. -->
            <div class="mt-10 sm:mt-0" id="general-product-list">
                <div class="md:grid md:grid-cols-3 md:gap-6">
                    <div class="md:col-span-1">
                        <div class="px-4 sm:px-0">
                            <h3 class="text-base font-semibold leading-6 text-primary">Produkte löschen</h3>
                            <p class="mt-1 text-sm text-secondary">Hier können Produkte gelöscht werden</p>
                        </div>
                    </div>

                    <!-- <ng-container *ngIf="" -->
                    <div class="mt-5 md:col-span-2 md:mt-0">
                        <ng-container *ngFor="let category of productsFromCategories | keyvalue">
                            <div *ngIf="category.value.length" class="overflow-hidden shadow sm:rounded-md">
                                <h3 class="text-base font-semibold leading-6 text-primary">{{category.key}}</h3>
                                <table class="table-fixed w-full text-left m-5">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Preis in €</th>
                                        <th>Löschen</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let product of category.value">
                                        <td>{{product.name}}</td>
                                        <td>{{product.price}}</td>
                                        <td>
                                            <div class="flex gap-3 m-0">
                                                <button (click)="deleteProduct(product.uuid)"
                                                        class="inline-flex justify-center rounded-md bg-primary py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-primary_hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
                                                    Löschen
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>

        <a [routerLink]="['/organizer']" class="font-medium text-primary hover:text-primary_hover"> &#8592; zurück zum
            Dashboard</a>

    </div>
</main>
